@font-face {
  font-family: manrope;
  src: url("/fonts/Manrope-VariableFont_wght.ttf");
}
@font-face {
  font-family: gallerymodern;
  src: url("/fonts/GalleryModern.otf");
}
@font-face {
  font-family: neue;
  src: url("/fonts/NeueMachina-Regular.otf");
}

.section_one {
  background-image: url("/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.595);
  background-attachment: scroll;
  height: auto;
  background-blend-mode: multiply;
  max-height: 850px;
}
.brand_heading {
  font-family: gallerymodern;
  letter-spacing: 0.8em;
  color: white;
}

.nav_list {
  justify-content: space-evenly;
}
.nav_links {
  font-family: neue;
  color: white;
}
.nav_links:hover {
  color: #5e45f8;
  transition: 0.2s ease-in;
}
hr {
  color: #5e45f8;
  padding: 1px;
}
.brand_tagline {
  color: whitesmoke;
  font-family: neue;
}
.description_text {
  font-weight: 300;
  font-family: manrope;
  color: white;
}

.lavishtech,
.partner,
.service,
.aboutus,
.works {
  color: #5e45f8;
  font-family: neue;
}
.description_para {
  font-family: neue;
  color: whitesmoke;
  line-height: 2em;
}
.let_talk_btn,
.aboutus_btn {
  background-color: #5e45f8;
  font-family: neue;
  font-weight: 500;
  color: white;
}
.aboutus_section {
  background-color: #272727;
}
.ourwork_section {
  background-color: #272727;
}
.section_two {
  background-color: #141414;
}
.why_section {
  background-color: #272727;
}
.our_service_heading,
.about_heading,
.our_work {
  font-family: neue;
  color: white;
}
.service_list_link {
  color: white;
  font-family: neue;
  font-size: 1em;
}
.service_list_link:hover {
  transition: 0.2s ease-in;
  color: white;
}
.service_item_list {
  border-color: white !important;
  border-radius: 10px;
  width: auto;
}
.service_item_list:hover {
  transform: scale(1.1);
  transition: 0.25s ease-in-out;
  background-color: #5e45f8;
}
.website_heading {
  color: #5e45f8;
  font-family: neue;
  font-weight: 600;
  font-size: 1.5em;
}
.web {
  font-weight: 200;
  color: white;
}
.website_description {
  font-family: neue;
  color: whitesmoke;
  line-height: 2em;
  font-size: 1.1rem;
}
.website_list_heading {
  font-family: neue;
  color: whitesmoke;
  font-size: 1em;
  line-height: 2em;
}
.website_bullet {
  color: #5e45f8;
}
#website,
#digital_marketing,
#graphic_designing {
  flex-direction: column;
  height: 500px;
  padding: 10px;
  justify-content: center;
  align-content: center;
}
.why_lavishTech {
  font-family: neue;
  color: #5e45f8;
}
.why_heading {
  font-family: neue;
  color: white;
}
.why_text,
.aboutus_text {
  font-family: neue;
  color: whitesmoke;
  line-height: 2em;
  font-size: 1em;
}
.work_one,
.work_two,
.work_three,
.work_four,
.work_five,
.work_six,
.work_seven {
  border-radius: 30px;
  opacity: 0.5;
}
.link_box {
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  width: 36%;
  top: 398%;
}
.link_box2 {
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  width: 52%;
  top: 398%;
}
.link_box3 {
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  width: 28%;
  top: 442%;
  left: 5%;
}
.link_box4 {
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  width: 28%;
  top: 442%;
  left: 36.7%;
}
.link_box5 {
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  width: 28%;
  top: 442%;
  left: 68.5%;
}
.link_box6 {
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  width: 44%;
  top: 501%;
  left: 5%;
}
/* .link_box7 {
  background: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.6px);
  -webkit-backdrop-filter: blur(7.6px);
  border: 1px solid rgba(255, 255, 255, 0.35);
  width: 44%;
  top: 505%;
  left: 52.7%;
} */
.link {
  font-family: neue;
  color: white;
  font-size: 1.1em;
}
.fa-arrow-circle-right {
  color: white;
  font-size: 1.5em;
}
.fa-arrow-circle-right:hover {
  transform: scale(1.3);
  transition: 0.2s;
}
.expertise_section {
  background-color: #141414;
}
.expertise_heading {
  font-family: neue;
  color: white;
}
.expert {
  color: #5e45f8;
}
.card_col {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}
.card {
  background-color: #272727;
  border-radius: 15px;
}
.card-title {
  color: white;
  font-family: neue;
}
.card-text {
  color: grey;
  font-family: neue;
  font-size: 0.9em;
}
.card-img-top {
  height: 240px;
  border-radius: 15px;
}
.card-img-top:hover {
  transform: scale(1.1);
  transition: 0.4s ease-in-out;
}

.footer_line {
  padding: 2px;
  background-color: #5e45f8;
}
.footer_section {
  background-color: #141414;
}
.footer_logo {
  font-family: neue;
  font-weight: 800;
  color: white;
}
.footer_tagline {
  font-family: neue;
  color: #5e45f8;
}
.footer_services_heading,
.footer_useful_links_heading,
.footer_social_links_heading {
  font-family: neue;
  color: #5e45f8;
  font-size: 1.4em;
  font-weight: 700;
}
.footer_service_links,
.footer_useful_links,
.footer_social_links {
  color: white;
  font-weight: 400;
  text-decoration: none;
  font-family: neue;
}
.footer_service_links:hover,
.footer_useful_links:hover,
.footer_social_links:hover {
  color: #5e45f8;
  text-decoration: underline;
  transition: 0.2s ease-in;
}
.fa-instagram,
.fa-twitter,
.fa-facebook,
.fa-linkedin {
  font-size: 1.6em;
}
