@font-face {
  font-family: manrope;
  src: url("/fonts/Manrope-VariableFont_wght.ttf");
}

.section_one {
  background-image: url("/images/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.595);
  background-attachment: scroll;
  height: auto;
  background-blend-mode: multiply;
}
.brand_heading {
  font-family: manrope;
  letter-spacing: 0.8em;
  color: white;
}

.nav_list {
  justify-content: space-evenly;
}
.nav_links {
  font-family: manrope;
  color: white;
}
.nav_links:hover {
  color: #5e45f8;
  transition: 0.2s ease-in;
}
hr {
  color: #5e45f8;
  padding: 1px;
}
.brand_tagline {
  color: whitesmoke;
}
.description_text {
  font-weight: 300;
  font-family: manrope;
  color: white;
}
.lavishtech,
.partner,.service {
  color: #5e45f8;
}
.description_para {
  font-family: manrope;
  color: rgba(245, 245, 245, 0.734);
  line-height: 2em;
}
.let_talk_btn {
  background-color: #5e45f8;
  font-family: manrope;
  font-weight: 500;
  color: white;
}
.section_two{
  background-color: black;
}
.our_service_heading{
  font-family: manrope;
  color: white;
}
.service_list_link{
  color: white;
  font-family: manrope;
  font-size: 1em;
}
.service_list_link:hover{
transition: .2s ease-in;
color: white;
}
.service_item_list{
  border-color:white !important;
  border-radius: 10px;
  width: auto;
}
.service_item_list:hover{
  transform: scale(1.1);
  transition: .25s ease-in-out;
  background-color: #5e45f8;
}

